{% extends "layout.html" %}
{% block title %} Games {% endblock %}
{% block content %}
  <p>All the games for {{console.name}}!</p>
  <p><a href='{{url_for('index')}}'>Back to all consoles!</a></p>
  <div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li><strong>{{message}}</strong></li>
        {% endfor %}
      </ul>
        {% endif %}
    {% endwith %}
  </div>
  <a href='{{url_for('newGame', console_id=console.id)}}'>Create a new game</a>

  {% for game in games %}
  <div class='name'><p>{{game.name}}</p></div>
  <div class='price'><p>{{game.price}}</p></div>
  <div class='description'><p>{{game.description}}</p></div>
  <a href='{{url_for('editGame',console_id=console.id, game_id=game.id)}}'>Edit</a> | <a href='{{url_for('deleteGame', console_id=console.id, game_id=game.id)}}'>Delete</a>

  {% endfor %}
{% endblock %}
